.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

iframe {
  height: 100vh; 
  width:100%;
} 

.value {
  font-size: 150%;
}

.value--top {
  margin-top: 1em;
}

.value--image {
  margin-top: 0.75em;
}

.value > img,
.value > .placeholder {
  max-width: 100%;
  height: auto;
}

